{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": [
        "airbnb-base"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly",
        "browser": true,
        "chrome": "readonly",
        "clippy": "readonly",
        "webStorageObject": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "rules": {
        "no-console": "off",
        "global-require": "off",
        "semi": "off",
        "comma-dangle": "off",
        "import/no-dynamic-require": "off",
        "indent": ["error", 4]
    }
}
