/*
|--------------------------------------------------------------------------
| Switch button - https://www.w3schools.com/howto/howto_css_switch.asp
|--------------------------------------------------------------------------
*/

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bbbbbb;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: #ffffff;
  box-sizing: border-box;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2fef7f;
}

input:checked + .slider:before {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2fef7f;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
