/*
|--------------------------------------------------------------------------
| Utilities
|--------------------------------------------------------------------------
*/

$z-index: (
    body: 0,
);

$base-font-size: 16;
$header-size: 40;
$toolbar-size: 58;
$navigation-gap: 20;
